.bodywrapper {
    display: grid;
    grid-template-rows: 80px 400px 1fr;
}

.lijst-samenstellen {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(6,30px);
    width: 120px;
    align-items: center;
    row-gap: 10px;
}

main {
    padding-left: 30px;
}

